* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*video intro*/

.videointro {
    width: auto;
    height: 30%;
    display:flex;
    justify-content: center; 
    align-items:center;
}

.barracine {
    width: 100%;
    height: 100%;
    background-color: black;
}

.boton1 {
    color:black;
    font-size: 30px;
    align-items: center;
    position: absolute;
    left: 58%;
    border: none;
    padding: 10px;
    border-radius: 20px;
    top:52%;
    opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: opacity 3s ease, transform 3s ease;
}

.boton1.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    background-color: lightskyblue; 
    color: white;
}

/* la navbar y botones del inicio */

.fondogeneral {
    background-color: white;
}

.navbar {
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:blue;
}

.navbaritem {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar ul {
    justify-content: center;
    display: flex;
    background-color:transparent;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-right: 10px;
}

.navbar button {
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    background-color:white;
    border: 2px solid black;
    height: 50px;
}

.navbar button a {
    text-decoration: none;
    color: black;
}


/*textos del incio*/

.textoinicio{
    margin-top: -300px;
    padding-left: 300px;
}

.h1inicio {
    font-size: 60px;
    display: flex;
    color: black;
}

.h2inicio {
    display: flex;
    color: black;
}

/* el gif*/
.gifinicio {
    display: flex;
    padding-left: 50%;
}

/* carrusel*/

.carrusel {
    margin-top: 250px;
    height: 150px;
    display: flex;
}

.fondocarrusel {
    width: 100%;
    display: flex;
    background-color: lightblue
}

.imagenescarrusel {
    width: max-content;
    animation: mover 40s linear infinite;
    display: flex;
    height: 100px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

.itemcarrusel {
    display: flex;
    margin-left:70px;
    margin-right:70px;
}

@keyframes mover {
            0% {
                transform: translateX(-150%);
            }
            100% {
                transform: translateX(50%); 
            }
        }

/* About me*/

.botonhome {
    display: flex;
    width: 30px;
    height: 30px;
}

.imghome {
    display: flex;
    width: 30px;
    height: 30px;
}

/* Contact me*/

.fotoepica {
    display: flex;
    align-self: center;
    height: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.textoiniciocontact {
    font-size: 20px;
    padding-bottom: 50px;
}

/* dark mode*/
.botondarkmode {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.botondarkmode img {
    width: 100%;
    transition: opacity 0.5s ease;
}

.botondarkmode img:last-child {
    opacity: 0;
    top:0;
    left: 0;
}



